In [63]:
from geopy.geocoders import ArcGIS

In [64]:
nom = ArcGIS()

In [65]:
nom

In [70]:
nom.geocode("3995 23rd St, San Francisco, CA 94134")

Location((37.7529935873, -122.431697214, 0.0))

In [9]:
n = nom.geocode('30 Denton Avenue, Scarborough, ON M1L 4P2')

In [10]:
n.latitude

43.693231195740765

In [12]:
n.longitude

-79.28734576245003

In [13]:
type(n)

geopy.location.Location

In [71]:
import pandas
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [72]:
df['Address'] = df['Address']+', '+df['City']+', '+df['State']+', '+df['Country']
df.loc[0,'Address']

'3666 21st St, San Francisco, CA 94114, USA'

In [76]:
df['Coordinates']=df['Address'].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [78]:
print(df.loc[0,'Coordinates'])

3666 21st St, San Francisco, California, 94114